*{
	margin: 0;
	padding: 0;
}

.box{
	display: inline-block;
	max-width: 1280px;
	width: 100%;
	height: 330px;
	border:1px solid black;
}

#a1{
	float: left;
	clear: both;
	max-width: 300px;
	width: 100%;
	height: 210px;
	background: red;
	border:1px solid black;
}



#a2{
	display: inline-block;
	max-width: 300px;
	width: 100%;
	height: 210px;
	background: blue;
	border:1px solid black;
}



#a3{
	display: inline-block;
	max-width: 300px;
	width: 100%;
	height: 210px;
	background: green;
	border:1px solid black;
}


.a{
	display: inline-block;
	width: 200px;
	height: 40px;
	background: white;
}